<div class="row">
  <div class="col m6 s12">
    <form (ngSubmit)="createAdmin()" ngNativeValidate autocomplete="off">
      <div class="input-field col s12">
        <input name="name" type="text" class="validate" [(ngModel)]="name" required autocomplete="off" />
        <label for="name">用户名</label>
      </div>
      <div class="input-field col s12">
        <input name="email" type="email" class="validate" [(ngModel)]="email" required autocomplete="off" />
        <label for="email">email</label>
      </div>
      <div class="input-field col s12">
        <input name="password" type="password" class="validate" [(ngModel)]="password" required autocomplete="new-password" />
        <label for="password">密码</label>
      </div>
      <div class="input-field col s12">
        <input name="confirmPassword" type="password" class="validate" [(ngModel)]="confirmPassword" required autocomplete="new-password"
        />
        <label for="confirmPassword">确认密码</label>
      </div>
      <div class="col s12">
        <select name="level" class="browser-default col m6 s12" [(ngModel)]="level">
          <option value="" disabled selected>选择权限等级</option>
          <option *ngFor="let number of adminLevel" [value]="number">{{number}}</option>
        </select>
      </div>
      <div class="col s12" style="margin-top:15px">
        <button class="btn waves-effect waves-light light-blue" type="submit" name="action">创建管理员
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>