<div class="row">
  <div class="col m6 s12">
    <form (ngSubmit)="changePassword()" ngNativeValidate>
      <div class="input-field col s12">
        <input name="oldPassword" type="password" class="validate" [(ngModel)]="oldPassword" required/>
        <label for="oldPassword">旧密码</label>
      </div>
      <div class="input-field col s12">
        <input name="newPassword" type="password" class="validate" [(ngModel)]="newPassword" required/>
        <label for="newPassword">新密码</label>
      </div>
      <div class="input-field col s12">
        <input name="confirmPassword" type="password" class="validate" [(ngModel)]="confirmPassword" required/>
        <label for="confirmPassword">确认密码</label>
      </div>

      <div class="col s12">
        <button class="btn waves-effect waves-light light-blue" type="submit" name="action">修改密码
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>